<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Reset Password</title>
  <link rel="shortcut icon" href="../../src/assets/logo.png">
  <style type="text/css">
    html, body {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
    }

    .logo-noq {
      background-color: #f7c141;
      border-radius: 10px;
      padding: 10px;
      font-size: 50px;
      box-shadow: 2px 2px 2px #b4b4b4;
    }
  </style>
</head>
<body>

<div class="container mt-4 jumbotron">
  <div class="text-center">
    <span style="font-size: 40px;" class="text-center">Reset Password</span>
  </div>
  <div class="alert alert-success" role="alert" id="alert" style="visibility: hidden">
    Your password has been successfully reset!
  </div>
  <label>New Password:</label>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="New Password" id='password1' aria-describedby="basic-addon1">
  </div>

  <button class="btn btn-lg btn-warning" id="reset">Reset Password</button>
  <button class="btn btn-lg btn-info" id="login">Go to Login</button>

</div>
</body>

<script type="text/javascript">


  jQuery(document).ready(function($){
    var p1 = document.getElementById('password1')

    console.log(window.location.href)
    document.getElementById('reset').onclick = function(){

      if (p1.value.length > 5) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", window.location.href, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
          password: p1.value
        }));


        xhr.onload = function() {
          console.log("HELLO")
          var al = document.getElementById('alert')
          al.style.visibility = 'visible'
          console.log(this.responseText);
          var data = JSON.parse(this.responseText);
          console.log(data);
          setTimeout(function(){ window.location.href="https://noq-client.herokuapp.com"; }, 5000);

        }
      }
    }

    document.getElementById('login').onclick = function(){
      window.location.href="https://noq-client.herokuapp.com"
    }
  })





</script>
</html>
